<p-card class="px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-column align-items-center mb-6">
    <p class="text-900 text-4xl mb-4 font-medium" *ngIf="cart.length !== 0">
      Your cart has {{ cart.length }} items
    </p>
    <p class="text-900 text-4xl mb-4 font-medium" *ngIf="cart.length === 0">
      Your cart is empty
    </p>
    <!-- <p class="text-700 font-medium text-xl mt-0 mb-4">
      FREE SHIPPING AND RETURN
    </p> -->
    <p-button
      label="Check Out"
      (onClick)="checkOut()"
      [disabled]="cart.length === 0"
    ></p-button>
  </div>
  <ul class="list-none p-0 m-0" *ngFor="let item of cart">
    <li
      class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center"
    >
      <img
        [src]="'assets/images/' + item.image[0]"
        class="w-12rem flex-shrink-0 mx-auto md:mx-0"
      />
      <div class="flex-auto py-5 md:pl-5">
        <div
          class="flex align-items-start align-items-center flex-row justify-content-between surface-border pb-6"
        >
          <div class="sm:w-6 flex flex-column">
            <span class="text-900 text-xl font-medium mb-3">
              {{ item.name }}
            </span>
            <span class="text-700">Size: {{ item.attributes.size }}</span>
          </div>
          <div
            class="w-6 flex align-items-end justify-content-end mt-3 sm:mt-0"
          >
            <!-- <p-dropdown></p-dropdown> -->

            <div class="flex flex-column align-items-end">
              <span class="text-900 text-xl font-medium mb-2 sm:mb-3">
                ${{ item.attributes.price }}
              </span>

              <a
                class="cursor-pointer text-pink-500 font-medium text-sm hover:text-pink-600 transition-colors transition-duration-300"
                (click)="removeFromCart(item)"
              >
                Remove
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="flex flex-column">
          <span class="inline-flex align-items-center mb-3">
            <i class="pi pi-envelope text-700 mr-2"></i>

            <span class="text-700 mr-2">Order today.</span>
          </span>

          <span class="inline-flex align-items-center mb-3">
            <i class="pi pi-send text-700 mr-2"></i>

            <span class="text-700 mr-2"
              >Delivery by
              <span class="font-bold">Dec 23.</span>
            </span>
          </span>

          <span class="flex align-items-center">
            <i class="pi pi-exclamation-triangle text-700 mr-2"></i>

            <span class="text-700">Only 8 Available.</span>
          </span>
        </div> -->
      </div>
    </li>
  </ul>
  <!-- <div class="flex">
    <div class="w-12rem hidden md:block"></div>
    <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900 font-semibold"> Subtotal </span>

        <span class="text-xl text-900"> ${{ totalPrice }} </span>
      </li>
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900 font-semibold"> Shipping </span>

        <span class="text-xl text-900"> Free </span>
      </li>
      <li class="flex justify-content-between mb-4">
        <span class="text-xl text-900 font-semibold"> VAT </span>

        <span class="text-xl text-900"> $0 </span>
      </li>
      <li
        class="flex justify-content-between border-top-1 surface-border mb-4 pt-4"
      >
        <span class="text-xl text-900 font-bold text-3xl"> Total </span>

        <span class="text-xl text-900 font-bold text-3xl">
          ${{ totalPrice }}
        </span>
      </li>
      <li class="flex justify-content-end">
        <p-button
          label="Check Out"
          [disabled]="cart.length === 0"
          (onClick)="checkOut()"
        ></p-button>
      </li>
    </ul>
  </div> -->
</p-card>
