<section>
  <h3>DESIGN AND CRAFTSMANSHIP</h3>
  <p>
    Every item in our collection begins with our in-house design team.
    We draw inspiration from elegant, contemporary sculptural motifs and patterns;
    we appreciate the burst of color from a gemstone, the understated glimmer of a diamond;
    and we're invigorated by your unique style. Each design undergoes numerous iterations
    in collaboration with our master jewelers to refine settings, lengths, chain links,
    clasps, ring comfort, and earring fit—no detail is overlooked or unaddressed—until the piece is precisely right.

    Our skilled jewelers then utilize the finest materials, ranging from
    precious metals like recycled gold and 18k gold vermeil, to ethically sourced
    diamonds and AAA-grade gemstones. Our jewelers are located all over the world,
    with our sterling silver and gemstone specialists based in Seoul, South Korea,
    and the artisans responsible for many of our gold chains situated in Arezzo, Italy.
  </p>

  <h3>PRECIOUS MATERIALS</h3>
  <p>
    Together with our jewelers, we carefully choose materials that align with our commitment
    to crafting fine jewelry for daily wear. Each material we utilize, as well as the craftsmanship of each piece,
    must meet our criteria for durability and longevity. This is why we intentionally work with 14k gold, sterling silver,
    vermeil, titanium, diamonds, and specific gemstones.

    Our 14k gold fine jewelry is a specially formulated alloy designed for enduring, everyday wear.
    It is more resistant to scratches and retains its warm, radiant luster over time.

    Likewise, our gold vermeil is a high-quality material made to last, offering a clear advantage over
    gold plating due to its substantial layer of 18k gold applied over sterling silver, which is itself a
    highly resilient precious metal. In contrast, gold plating usually involves a thin layer of gold over
    a less robust metal such as copper or brass.
  </p>

  <h3>AFFORDABILITY</h3>
  <p>
    Our dedication lies in offering fine jewelry at fair prices, without the customary industry markups.
    We take an unconventional approach. To ensure luxury is within reach, we collaborate directly with
    top jewelers globally, eliminating intermediaries and selling straight to our customers.
    By working closely with our jewelers, we obtain the highest quality at the most competitive prices.
    This empowers you to enjoy fine jewelry on a daily basis, rather than reserving it for special occasions alone.
  </p>

</section>