<div class="flex flex-column justify-content-center align-items-center px-4" style="min-height: calc(100vh - 62px);">
  <div class="flex flex-column justify-content-center align-items-center text-center">
    <img
      src="assets/asset-404.svg"
      alt="freya-layout"
      style="margin-bottom: -150px; width: 332px; height: 271px"
    />
    <span style="font-size: 140px; line-height: 171px">404</span>
    <span class="block text-500 text-center font-medium">Looks like you are lost.</span
    ><p-button
      [routerLink]="['/home']"
      type="button"
      label="Go back to home"
      class="mt-4 font-medium p-button-lg">
    </p-button>
  </div>
</div>